body{
	width: 980px;
	clear:both;
	overflow:hidden!important;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
#darkSide{
	width: 964px;
	height: 684px;
	margin-left: 8px;
	position: absolute;
	background: rgba(5, 0, 31, 0.16);
	border-radius: 3px;
}
#loading{
	width: 17px;
	height: 17px;
	position: absolute;
	right: 18px;
	top: 18px;
	background: url("http://i.imgur.com/IgBC2B1.gif");
	background-size: 17px;
}
#popUp{
	font-family: 'Istok Web', Arial, sans-serif;
	position:absolute;
	width:400px;
	height: 200px;
	background: white;
	left:290px;
	top:242px;
	box-shadow: 0 0 50px black;
	border-radius: 3px;
	overflow: hidden;  
}
#chainLinkInPopUp{
	-moz-user-select: -moz-text;
	-o-user-select: text ;
	-khtml-user-select: text ;
	-webkit-user-select: text ;
	user-select: text ;
	cursor: edit;
}
#puHead{
	width:100%;
	height: 25px;
	border-bottom: 1px solid #DAE1E8;
	overflow: hidden;
}
#puTitle{
	padding-top: 5px;
	padding-left: 5px;
	width:350px;
	height:100%;
	text-align: center;
}
#puClose{
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	height: 100%;
	cursor: pointer;
}
#puClose:hover{
	background: rgb(237, 243, 243);
}
#puBody{
	padding: 10px;
}
#app{
	overflow: hidden !important;
	font-family: georgia;
	font-size: 16px;
	font-family: 'Istok Web', Arial, sans-serif;
	background: white;
	border: 1px solid #DAE1E8;
	margin: 8px;
	border-radius: 3px;
}
.share{
	background: url("http://i.imgur.com/YncBhZ3.png") no-repeat;
	background-size: 17px;
	width: 29px;
	height: 30px;
	margin-left:8px;
	margin-top: -2px;
	cursor: pointer;
}

/*********** Head ***********/
#head{
	overflow: auto;
	width:100%;
	border-bottom: 1px solid #DAE1E8;
	

}
/*********** Head 1st line ***********/
#topHead{
	margin: auto;
	border-bottom: 1px solid #DAE1E8;
	cursor: pointer;
}
#logo{
	padding: 7px;
}
#logoImg
{
	width: 70px;
}

#rooms{
	padding: 7px;
	border-bottom: 1px solid #DAE1E8;
	max-height: 962px;
}
.newRoom, .myRoom{
	margin: 1px;
	margin-bottom: 10px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	overflow: visible;
	border-radius: 2px;
	line-height: 1.7;
	cursor: pointer;
}
.myRoom{
	background: rgb(159, 186, 235);
}
.myRoom:hover{
	background: rgb(136, 156, 221);
}
.newRoom{
	background:rgb(211, 159, 221);
}
.newRoom:hover{
	background: rgb(192, 112, 192);
}

#naviHead{
	overflow: hidden;
}
.headBut{
	padding-left: 12px;
	padding-right: 13px;
	max-width: 200px;
}
.headButClickable{
	cursor: pointer;
}
.headButClickable:hover{
	background: rgb(237, 243, 243);
}
#chainName{
	
}
#editorName{
	
}
#archive{
	
}
.naviButton{
	background: rgb(62, 179, 62);
	border-radius: 3px;
	height: 40px;
	max-width: 48%;
	margin: 5px;
	text-align: center;
	
	color: rgb(250, 255, 189);
	box-shadow: inset 0px 1px 0px rgba(179, 228, 26, 1);
	text-shadow: 0px -1px 0px #54A724,0px 1px 0px #54A724;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
}
.naviButton:hover{
	background: rgb(147, 207, 92);

}
.textButFix{
	padding-top: 9px;
	padding-bottom: 9px;
}
.textInNaviBut{
	min-width: 200px;
	height: 100%;
	padding-top: 13px;
}

/*********** Content ***********/
#container{                     /*used for safari*/
	overflow:hidden!important;
	background: url("http://wallpapers4ipad.com/hd-textures-ipad-wallpapers/gray-pattern/gray-pattern.png");
}
#content{
	height: 515px;
	overflow-y: hidden;
	
}
//#content:hover{ overflow-y: scroll;}
#newChain{
	margin: auto;
	margin-top: 20px;
	width: 600px;
	background: white;
	border: 1px solid #DAE1E8;
	border-radius: 2px;
	cursor: pointer;
}
#newChain:hover{
	background: rgb(237, 243, 243);
}
.editPage{
	background: white!important;
	overflow: visible!important;
}
/*********** Chain in Content ***********/
.chain{
	margin: 0 auto;
	margin-top: 20px;
	width: 850px;
	background: white;
	border-radius: 2px;
}
.chainName{
	width: 100%;
	max-width: 100%;
	height: 37px;
	border-bottom: 1px solid #DAE1E8;
	overflow: hidden;
}
.name{
	max-width: 600px;
	padding-top: 10px;
	padding-left: 10px;
	cursor: pointer;
}
.name:hover{
	background: rgb(237, 243, 243);
}
.likes{
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	height: 100%;
	cursor: pointer;
}
.likes:hover{
	background: rgb(237, 243, 243);
}
.likeHeart{
	width: 17px;
	height: 17px;
}
.nolike{
	background: url("http://i.imgur.com/V21sktr.png") no-repeat;
	background-size: 17px;
}
.yeslike{
	background: url("http://i.imgur.com/fQnBe0a.png")  no-repeat;
	background-size: 17px;
}

.chainBody{
	
	background: white;
	overflow: visible;
	border-bottom: 1px solid #DAE1E8;
	padding-bottom: 10px;
}
.columnPic{ 
	margin: 0 auto;
	width: 690px;
}
.chainPic{ /* 704 440 */ /* 690 431*/
	width: 690;
	border-radius: 1px;
	margin-top: 10px;
	box-shadow: 0 0 3px rgb(159, 186, 235);
}

.chainFooter{
	width: 100%;
	height: 30px;
}
.toColumn{
	height:100%;
	width: 33%;
	float: left;
	background: red;
}
.continue{
	margin-top: 10px;
	height: 40px;
	background: rgb(62, 179, 62);
	border-radius: 3px;
	text-align: center;
	
	color: rgb(250, 255, 189);
	box-shadow: inset 0px 1px 0px rgba(179, 228, 26, 1);
	box-shadow: inset 1px 0px 0px rgba(179, 228, 26, 1);
	text-shadow: 0px -1px 0px #54A724,0px 1px 0px #54A724;
	cursor: pointer;
}
.continue:hover{
	background: rgb(147, 207, 92);
}



/*********** Editor ***********/
#chainInEditor{
	padding-left:5px;
	padding-right:5px;
	max-width: 48%;
}
#editor{
	overflow: auto;
	margin-top: 5px;
}
/*********** Right ***********/
#rightCol{
	overflow: auto;
	margin-left:30px;
	width: 690px;
}
#canvas{
	overflow: auto;
	width: 690px;
	height: 431px;
	background: grey;
}
.editorBut{
	height:20px;
	width: 230px;
	text-align: center;
	padding-top: 8px;
}
.editorBut:hover{
	background: rgb(237, 243, 243);
}

/*********** Left ***********/
#leftCol{
	padding-top: 28px;
	overflow: auto;
	width: 210px;
	height: 487px;
}
#palette{
	background: grey;
	height: 200px;
}
#opNSoap{
	height: 200px;
}
#size{
	height: 38px;
}
#submit{
	background: red;
	height: 38px;
}




.f_l{
	float: left;
}
.f_r{
	float: right;
}
.hidden{
	display: none;
}
.visible{
	display: block;
}

/***** scrollbar ******/

::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: white;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 255, 255, 0.23);
}

2. Динамический подсчет требуемой высоты 
Часто заранее неизвестно какой высоты потребуется <i_frame>, например если у вас в приложении идет обсуждение и на странице может быть разное кол-во комментариев. Тогда возникает задача узнать фактическую высоту содержимого страницы. Сделать это можно следующим образом: поместить весь контент в элемент <div id="page"> и после формирования контента вызывать 

var real_height = document.getElementById('page').clientHeight; 
VK.callMethod('resizeWindow',width, real_height); 
По сообщениям некоторых разработчиков для корректной работы метода в браузерах IE в стилях блока #page необходимо указать: 

#page { height:auto !important; min-height:730px; } или 
#page { display: inline-block; } 

/*********** CSS Reset ***********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}