/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,hr,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfont,thead,tr,th,td{padding:0;margin:0;border:none;outline:none;vertical-align:baseline;font-family:inherit;font-size:100%;}dfn,i,cite,var,address,em{font-style:normal;}th,b,strong,h1,h2,h3,h4,h5,h6{font-weight:normal;}textarea,input,select{font-family:inherit;font-size:1em;}blockquote,q{quotes:none;}q:before,q:after,blockquote:before,blockquote:after{content:'';content:none;}ol,ul{list-style:none;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;}:focus{outline:none;}

html, body {
    height:100%;
}
body {
    font: .8125em/1.5 Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    background: #fff;
    color: #333;
}
header, nav, section, article, aside, footer {
    display: block
}

a {
    color: #267;
    text-decoration: underline
}

a:hover {
    color: #722
}

p {
    margin: 0 0 1em
}


header {
    color: #007e99;
    font-size: 2.5em;
    padding: 20px 50px
}

header span {
    color: #722
}

nav {
    font-size: 1.5em;
    margin: 5px 0;
    padding: 20px 50px
}

nav li {
    display: inline;
    margin: 0 15px
}

nav li:first-child {
    margin-left: 0
}

* html nav ul {
    margin-left: -15px
}

nav span, nav a {
    padding: 3px 15px 4px
}

nav span {
    padding: 3px 15px 4px
}

section {
    float: left;
    padding: 35px 0;
    position: relative;
    width: 70%
}

section article {
    margin: 0 50px 40px;
    padding: 25px 0 0;
    position: relative
}

section h1 {
    font-size: 2.3em;
}

aside {
    float: left;
    padding: 70px 0 30px;
    position: relative;
    width: 25%
}

aside h1 {
    color: #888;
    font-size: 1.8em
}

footer {
    clear: both;
    color: #777;
    padding: 10px 50px
}
