<!DOCTYPE html>
{% load static %}
<head>
    <meta charset=utf-8>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/redoodle.css' %}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="{% static 'css/scroll.css' %}"/>
    <script src="{% static 'js/jquery.scroll.min.js' %}"></script>
    {% block style_and_script %}{% endblock %}
</head>
<body>
    <div class="main">{{request.login_form}}
        {% if request.user.is_authenticated %}
            {{ request.user.username }}, Welcome! Wanna some <a href="{% url logout %}">logout</a>
            {% if not request.user.email %}
                <form method="POST" action="{% url mail_confirm %}">
                    {% csrf_token %}
                    or set your <input type="text" name="email" placeholder="мыльцо">
                    <input type="submit" value="Ok">
                </form>?
            {% else %}
                {% if not request.user.is_active %}or proove your <a href="{% url mail_confirm %}">email</a>{% endif %}?
            {% endif %}
        {% else %}
            <form method="POST" action="">
                {% csrf_token %}
                {{ request.login_form }}
                <input type="submit" value="Go">
            </form>
            Wanna some <a href="{% url register %}">sign up</a>?
        {% endif %}
        <div class="head">
            {% block header %}{% endblock %}
        </div>
        <div class="hidden" id="menu">
             {% block menu %}{% endblock %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="footerindex">
            <div class="zlc">3bl3lo4ui, 2012.</div>
            <!-- А без этого жуткого куска не работает скролл -->
            <!-- уупс -->
            {% block footer %}{% endblock %}
            </div>
        </div>
</body>
</html>
