<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset=utf-8>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/reDoodle-debug.css' %}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    {% block style_and_script %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}{% endblock %}
    </header>
    <nav>
        {% block nav %}<span>reDoodle</span> {% endblock %}
    </nav>
    <aside>
        {% block aside %}{% endblock %}
    </aside>
    <section>
        {% block section %}{% endblock %}
    </section>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</body>
</html>