<!DOCTYPE html>
{% load static %}
<head>
 <meta http-equiv="content-type" content="text/html; charset=windows-1251">
 <title>{% block title %}{% endblock %}</title>
 
 <link href='http://fonts.googleapis.com/css?family=Istok+Web&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="{% static 'css/redoodle.css' %}">

 <script src="{% static 'js/core.js' %}"></script>
 <script src="http://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
 {% block style_and_script %}{% endblock %}
 
 {% block editors_template %}{% endblock %}
 
</head>
<body onload="init()" id="body">

{% block absoluts %}{% endblock %}

<div id="app">
	<div id="head">
		{% block head %}{% endblock %}
	</div>

	<div id="container">
		<div id="content" onscroll="onContentScroll()">
            {% block content %}{% endblock %}
		</div>
    </div>
	
	<!-- Temorary -->
	<style> 
		#debug{
			position: absolute;
			top:10px;
			left:10px;
			background: white;
			border: 1px solid #888;
			width: 10px;
			height: 10px;
			overflow: hidden
		}
		#debug2{
			position: absolute;
			top:10px;
			background: white;
			border: 1px solid #888;
			overflow: visible;
		}
		#debugclose{
			position: absolute;
			top:10px;
			left:810px;
			background: white;
			border: 1px solid #888;
			width: 10px;
			height: 10px;
			overflow: hidden;
			display: none;
		}
	</style>
	<script> 
		function abc(el){
			el.id="debug2";	
			debugclose.style.display="block"
		}
		function abc2(){
			debug2.id="debug";
			debugclose.style.display="none"
		}
	</script>
	<div id="debug" onclick="abc(this)">
		{% include 'testing.html' %}
	</div>
	<div id="debugclose" onclick="abc2()">
		X
	</div>
	<!-- /Temorary -->

</div>
</body>
</html>
