<!-- TODO: починить это обратно! -->
<object id="wtPlugin" type="application/x-wacomtabletplugin" WIDTH=1 HEIGHT=1 style="position:absolute; left:100px; top:100px">
	<!-- <param name="onload" value="pluginLoaded" /> -->
</object>
<div id="rightCol" class="f_l">
	<div style="overflow: auto;">
		<div id="magicBut" class="f_l editorBut">Копировать</div>
		<div id="undoBut" class="f_l editorBut">Отменить</div>
		<div id="redoBut" class="f_l editorBut">Повторить<span id="redoAllBut" style="display:none">ВСЁ</span></div>
	</div>
	
	<img style="display:none;" id="img_for_paint_first_layer" src="RPi_logo.png">
	<canvas id="canvas" width="690" height="431и"></canvas>
	
	<div class="layers" style="overflow: auto;">
		<div id="layer1" class="f_l editorBut padToBut layer">Первый слой</div>
		<div id="layer2" class="f_l editorBut padToBut layer">Второй слой</div>
		<div id="layer3" class="f_l editorBut padToBut layer">Третий слой</div>
	</div>
</div>
<div id="leftCol" class="f_l">
	<div class="palette-and-picker-wrap">
		<div id="paletteWrap"></div>
		<svg id="pickerBut" class="tool" width="24" height="24" viewBox="0 0 1024 1024">
			<path d="M987 37c-50-50-131-50-181 0l-172 172-121-121-136 136 106 106-472 472c-8 8-11 19-10 29h-0v160c0 18 14 32 32 32h160c0 0 3 0 4 0 9 0 18-4 25-11l472-472 106 106 136-136-121-121 172-172c50-50 50-131 0-181zM173 960h-109v-109l470-470 109 109-470 470z"></path>
		</svg>
		<!-- http://www.flaticon.com/free-icon/paintbrush-design-tool-interface-symbol_54369
			 что-то там про права на эту иконку, хотя изнутри она на оригинал теперь похожа чуть более, чем никак -->
		<svg id="brushBut" class="tool" width="24px" height="24px" viewBox="0 0 1024 1024">
			<path d="M 413 534 l -100 99 c -67 -1 -160 22 -200 154 C 80 857 0 853 0 853 c 168 186 366 80 411 34 c 39 -40 45 -89 41 -128 l 93 -92 L 413 534 Z M 366 844 c -31 29 -172 94 -255 31 c 0 0 28 -22 50 -67 c 52 -138 182 -117 182 -117 l 44 44 C 389 734 422 793 366 844 Z M 996 90 c -37 -36 -97 -36 -134 0 L 458 489 l 133 133 l 404 -399 C 1033 186 1033 127 996 90 Z"/>
		</svg>
		<!-- https://icons8.com/web-app/1060/eraser
			 эти тоже хотят ссылку на себя.
			 а ещё для скачки этой иконки в SVG надо было заплатить в 249$... или скопировать её из HTML -->
		<svg id="eraserBut" class="tool" width="24" height="24" viewBox="0 0 1024 1024">
			<path d="M 622 88 C 591 88 560 100 537 124 L 124 537 C 76 584 76 660 124 708 L 298 884 A 42 42 0 0 0 328 896 L 938 896 L 938 810 L 585 810 L 905 490 C 952 443 952 367 905 320 L 708 124 C 684 100 653 88 622 88 Z M 376 405 L 622 652 L 464 810 L 346 810 L 184 648 C 171 635 171 609 184 597 L 376 405 Z"></path>
		</svg>
	</div>
	<canvas id="opNBlurSlider"></canvas>
	<canvas id="sizeSlider"></canvas>
	<div id="submit" class="editorBut">Отправить</div>
</div>
