{% extends "base.html" %}

{% load static %}
{% block style_and_script %}
	<script src="{% static 'js/utils.js' %}"></script>
	<script src="{% static 'js/setup_editor.js' %}"></script>
	
	<script src="{% static 'paint/util.js' %}"></script>
	<script src="{% static 'paint/control_single.js' %}"></script>
	<script src="{% static 'paint/color_picker_2.0/color_picker.js' %}"></script>
	<script src="{% static 'paint/paint.js' %}"></script>
	<script src="{% static 'paint/history.js' %}"></script>
	<script src="{% static 'paint/tool_brush.js' %}"></script>
	<script src="{% static 'paint/tool_picker.js' %}"></script>
	<script src="{% static 'paint/tool_merge.js' %}"></script>
	<script src="{% static 'paint/tool_image_transformer.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/editor.css' %}">
{% endblock %}
{% block editors_template %}
<script>
var editorHTML = "<div id='editor'><div id='rightCol' class='f_l'><div style='overflow: auto;'>" +
				"<div id='magicBut' class='f_l editorBut'>Копировать</div>" +
				"<div id='cancel' class='f_l editorBut'>Отменить</div>" +
				"<div id='redo' class='f_l editorBut'>Повторить</div></div>" +
				"<div id='canvas'></div>" +
				"<div style='overflow: auto;'>" +
				"<div id='layer1' class='f_l editorBut padToBut'>Первый слой</div>" +
				"<div id='layer2' class='f_l editorBut padToBut'>Второй слой</div>" +
				"<div id='layer3' class='f_l editorBut padToBut'>Третий слой</div> </div></div>" +
				"<div id='leftCol' class='f_l'><div id='palette'></div>" +
				"<div id='opNSoap'>" +
				"<canvas id='opnsoapc' width='210px' height='200px'></canvas>" +
				"</div><div id='size'>" +
				"<canvas id='Csize' width='210px' height='38px'></canvas>" +
				"</div><div id='submit'>Отправить</div></div></div>";
</script>
{% endblock %}

{% block title %}reDoodle{% endblock %}

{% block absoluts %}
<div id="darkSide" class="hidden" onclick="hidePopUp()"></div>
<div id="loading" class="hidden"></div>

<div id="popUp" class="hidden">
	<div id="puHead">
		<div id="puTitle" class="f_l">...</div>
		<div id="puClose" class="f_r" onclick="hidePopUp()">X</div>
	</div>
	<div id="puBody">
	
	</div>
</div>
{% endblock %}

{% block head %}
	<div id="topHead" onclick="logoClick()">
		<center style="padding: 7px;">
			<img id="logoImg"src="http://i.imgur.com/rDhHzM7.png" ></img>
			— дорисовывай рисунки
		</center>
	</div>
	
	<div id="rooms">
		<div style="margin-left: 5px">Мои комнаты:</div>
		<div style="width:100%; padding-top: 5px; padding-bottom: 5px;" id="roomsList">
		</div>
		<span class="newRoom" id="addRoom" onclick="addRoom()">Добавить по ссылке</span>
		<span class="newRoom" id="createRoom" onclick="createRoom()">Создать</span>
	</div>
	
	<div id="naviHead">
		<div id="roomName" class="headBut f_l">
			<div class="textButFix">
				<center id="roomNameText">
					Default:
				</center>
			</div>
			
		</div>
		<div id="roomShare" class="headBut headButClickable f_l">
			<div class="textButFix">
				<center>
					Поделиться комнатой
				</center>
			</div>
		</div>
		<div id="roomAction" class="headBut headButClickable f_l">
			<div class="textButFix">
				<center>
					Добавить цепочку
				</center>
			</div>
		</div>
		<div id="editing" class="headBut f_l hidden">
			<div class="textButFix">
				<center id="editingText">
					
				</center>
			</div>
		</div>
		<div id="canselEditing" class="headBut headButClickable f_l hidden">
			<div class="textButFix">
				<center>
					Отмена
				</center>
			</div>
		</div>
		<div id="archive" class="headBut headButClickable f_r" onclick="load('roomlink/archive')">
			<div class="textButFix">
				<center>
					Перейти в архив
				</center>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
<div id="chainsWrap"></div>
<div id="editorWrap" style="display:none">
	{% include 'editor.html' %}
</div>
{% endblock %}

