{% extends "base.html" %}

{% load static %}
{% block style_and_script %}
    <script src="{% static 'js/utils.js' %}"></script>
{% endblock %}
{% block editors_template %}
<script>
var editorHTML = "<div id='editor'><div id='rightCol' class='f_l'><div style='overflow: auto;'>" +
				"<div id='magicBut' class='f_l editorBut'>Копировать</div>" +
				"<div id='cancel' class='f_l editorBut'>Отменить</div>" +
				"<div id='redo' class='f_l editorBut'>Повторить</div></div>" +
				"<div id='canvas'></div>" +
				"<div style='overflow: auto;'>" +
				"<div id='layer1' class='f_l editorBut padToBut'>Первый слой</div>" +
				"<div id='layer2' class='f_l editorBut padToBut'>Второй слой</div>" +
				"<div id='layer3' class='f_l editorBut padToBut'>Третий слой</div> </div></div>" +
				"<div id='leftCol' class='f_l'><div id='palette'></div>" +
				"<div id='opNSoap'>" +
				"<canvas id='opnsoapc' width='210px' height='200px'></canvas>" +
				"</div><div id='size'>" +
				"<canvas id='Csize' width='210px' height='38px'></canvas>" +
				"</div><div id='submit'>Отправить</div></div></div>";
</script>
{% endblock %}

{% block title %}reDoodle{% endblock %}

{% block absoluts %}
<div id="darkSide" class="hidden" onclick="hidePopUp()"></div>
<div id="loading" class="hidden"></div>

<div id="popUp" class="hidden">
	<div id="puHead">
		<div id="puTitle" class="f_l">...</div>
		<div id="puClose" class="f_r" onclick="hidePopUp()">X</div>
	</div>
	<div id="puBody">
	
	</div>
</div>
{% endblock %}

{% block head %}
	<div id="topHead" onclick="logoClick()">
		<center style="padding: 7px;">
			<img id="logoImg"src="http://i.imgur.com/rDhHzM7.png" ></img>
			— дорисовывай рисунки
		</center>
	</div>
	
	<div id="rooms">
		<div style="margin-left: 5px">Мои комнаты:</div>
		<div style="width:100%; padding-top: 5px; padding-bottom: 5px;" id="roomsList">
		</div>
		<span class="newRoom" id="addRoom" onclick="addRoom()">Добавить по ссылке</span>
		<span class="newRoom" id="createRoom" onclick="createRoom()">Создать</span>
	</div>
	
	<div id="naviHead">
		<div id="roomName" class="headBut f_l">
			<div class="textButFix">
				<center id="roomNameText">
					Default:
				</center>
			</div>
			
		</div>
		<div id="roomShare" class="headBut headButClickable f_l">
			<div class="textButFix">
				<center>
					Поделиться комнатой
				</center>
			</div>
		</div>
		<div id="roomAction" class="headBut headButClickable f_l">
			<div class="textButFix">
				<center>
					Добавить цепочку
				</center>
			</div>
		</div>
		<div id="editing" class="headBut f_l hidden">
			<div class="textButFix">
				<center id="editingText">
					
				</center>
			</div>
		</div>
		<div id="canselEditing" class="headBut headButClickable f_l hidden">
			<div class="textButFix">
				<center>
					Отмена
				</center>
			</div>
		</div>
		<div id="archive" class="headBut headButClickable f_r" onclick="load('roomlink/archive')">
			<div class="textButFix">
				<center>
					Перейти в архив
				</center>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
    {% for chain in chainsInDefaultRoom %}
        <div class="chaincontainer" id="mainchains">
            <div class="containertop" id="regulargrad">
                <div class="chainname">
                    <a href="{% url 'editor' 'default' chain.name %}">
                        <p class="name" onmouseover="this.style.textDecoration ='underline'; this.style.color='#0000ff';" onmouseout="this.style.textDecoration='none'; this.style.color='#FBFBFF';">{{ chain.name }}<p>
                    </a>
                </div>
                <div class="chainlikes" >
                    <span class="{{ chain.name }}_like_count">
                        <p class="likes">{{ chain.likes }}<p>
                    </span>
                    {% include "includes/auth_like_dislike.html" %}
                </div>
            </div>
            <div class="containerbody scroll-horizontal scroll">
                <div class="chainline">
                    <!--Тут могли быть ваши картинки-->
                    {% for image in chain.image_set.all %}
                        <img src="{{ image.image.url }}"/>
                    {% endfor %}
                </div>
            </div>
            <div class="chainbottom" id="changeview_1" onMouseOver>
                Показать столбиком
            </div>
        </div>

	<div class="chain">  
		<div class="{{ chain.name }}">
			<div class="name f_l" onclick="shareChain('{% url 'editor' 'default' chain.name %}')">
				<div class="f_l">
					{{ chain.name }}
				</div>
				<div class="share f_r">
					
				</div>				

			</div>
			<div class="likes f_r" onclick="likeChain('{% url 'editor' 'default' chain.name %}')">
				<div class="f_l" style="margin-right: 5px">Понравилось:</div>
				<div class="f_l" style="margin-right: 5px">{{ chain.likes }}</div>
				<div class="f_l likeHeart nolike" id="chainlinklike"> </div>
			</div>
		</div>
		<div class="chainBody">
			<div class="columnPic">
                {% for image in chain.image_set.all %}
                    <img class="chainPic" src="{{ image.image.url }}"/>
                {% endfor %}

				<div class="continue" onclick="continueChain('chainlink')">
					<div class="textInNaviBut">
						Продолжить
					</div>
				</div>
			</div>
		</div>
		<div class="chainFooter">
		</div>
	</div>

    {% endfor %}
    
{% endblock %}

