{% extends "includes/baseHTML5.html" %}

{% load static %}
{% block style_and_script %}
    <link rel="stylesheet" href="{% static 'css/farbtastic.css' %}">
    <link rel="stylesheet" href="{% static 'css/palette.css' %}">

    <script src="{% static 'js/utils.js' %}"></script>

    <script src="{% static 'js/graphics-editor/util.js' %}"></script>
    <script src="{% static 'js/graphics-editor/paint.js' %}"></script>
    <script src="{% static 'js/graphics-editor/history.js' %}"></script>
    <script src="{% static 'js/graphics-editor/image_transformer.js' %}"></script>
    <script src="{% static 'js/graphics-editor/farbtastic.js' %}"></script>
    <script src="{% static 'js/graphics-editor/palette.js' %}"></script>

    <script>
        var mouse_x=0,mouse_y=0,mouse_shift=[0,0];

        function handleMouseMove(event) {
            //event=event || window.event;//IE fix
            mouse_x=event.clientX-mouse_shift[0];
            mouse_y=event.clientY-mouse_shift[1];

            if (mode==1) {
                paint.move(mouse_x,mouse_y,getPressure());
            } else {
                imgTransf.move(mouse_x,mouse_y);
                paint.refresh();
            }
        }

        function handleMouseDown(event) {
            if (mode==1)
                paint.start(mouse_x,mouse_y,getPressure());
            else
                imgTransf.grab(mouse_x,mouse_y);
        }

        function handleMouseUp(event) {
            if (mode==1)
                log("[line pixels/second, points/second]: "+paint.end());
            else
                imgTransf.drop();
        }

        function handleMouseClick() {}

        function handleMouseDblclick() {}

        function handleMouseWheel(event) {
            var delta = 0;
            if (!event) /* For IE. */
                event = window.event;
            if (event.wheelDelta) { /* IE/Opera. */
                delta = event.wheelDelta/120;
            } else if (event.detail) { /* Mozilla case. */
                /* In Mozilla, sign of delta is different than in IE.
                * Also, delta is multiple of 3.*/
                delta = -event.detail/3;
            }
            /* If delta is nonzero, handle it.
            * Basically, delta is now positive if wheel was scrolled up,
            * and negative, if wheel was scrolled down.*/
            if (delta) {
                if (mode==1) {
                    paint.brushSetSize(paint.brushGetSize()+delta);
                    paint.refresh(mouse_x,mouse_y);
                } else {
                    var s=Math.pow(1.1,delta);
                    imgTransf.scale(s,s);
                    paint.refresh();
                }
            }
            /* Prevent default actions caused by mouse wheel.
            * That might be ugly, but we handle scrolls somehow
            * anyway, so don't bother here..*/
            if (event.preventDefault) event.preventDefault();
            event.returnValue = false;
        }

        function handleKeyboard(e) {
            var e=window.event || e;
            var k=e.charCode || e.keyCode;
            switch (k) {
                case 122:
                    if (mode!=1) break;
                    paint.undo();
                    //paint.refresh(mouse_x,mouse_y);
                    break;
                case 121:
                    if (mode!=1) break;
                    paint.redo();
                    //paint.refresh(mouse_x,mouse_y);
                    break;
                case 97:
                    if (mode!=0) break;
                    imgTransf.rotate(-0.1);
                    paint.refresh();
                    break;
                case 100:
                    if (mode!=0) break;
                    imgTransf.rotate(0.1);
                    paint.refresh();
                    break;
                default:
                    if (k>=48 && k<=57)
                        paint.brushSetAlpha((k-47)*0.1);
                    if (k>=112 && k<=114) {
                        paint.setLayer(k-112);
                        e.preventDefault();
                    }
            }
        }




        var canvas,rc;
        var paint, imgTransf, mode=0, getPressure=null;

        window.onload = function() {
            canvas = document.getElementById("canvas");
            mouse_shift=getPos(canvas);
            document.onmousemove = handleMouseMove;
            canvas.onmousedown = handleMouseDown;
            document.onmouseup = handleMouseUp;
            /* Wheel nitialization code.
            * If you use your own event management code, change it as required.*/
            if (window.addEventListener)
            /* DOMMouseScroll is for mozilla. */
            window.addEventListener('DOMMouseScroll', handleMouseWheel, false);
            /* IE/Opera. */
            window.onmousewheel = document.onmousewheel = handleMouseWheel;

            document.onkeypress=handleKeyboard;

            document.ontouchstart = function(e){ e.preventDefault(); for (var i in e.touches) alert(e.touches[i].pageX);}
            document.ontouchmove = function(e){ e.preventDefault(); }

            rc = canvas.getContext("2d");
            paint=new Paint(canvas);
            imgTransf=new ImageTransformer(paint.layer[0],
            "{% static 'room/'%}{{ room }}/{{ chain }}/{{ image_name }}.png",
            function() {paint.refresh();});


            //создание кнопок
            for (var i=0;i<paint.layer.length;i++) {
                //buttons.innerHTML+="<button style='width: 128px; height: 64px;'></button>"
                var b=document.createElement('button');
                //paint.layer[i].style="width: 128px; height: 64px;";
                paint.layer[i].style.width="128px";
                paint.layer[i].style.height="64px";
                b.appendChild(paint.layer[i]);
                if (i!=0) b.onclick=(function(i) { return function() {mode=1; paint.layer_cur=i;} })(i);//"paint.layer_cur="+i+";";
                else b.onclick=function() {mode=0;}
                buttons.appendChild(b);
            }

            //ищем апишечку Bamboo'шечки
            var penAPI = document.getElementById('wtPlugin').penAPI;
            if (penAPI)//нашли
                getPressure=function() {if (penAPI.pointerType!=0) return penAPI.pressure; else return 1.0;}
            else//не нашли
                getPressure=function() {return 1.0;}

            $('#picker').farbtastic(function(color) {paint.brushSetColor(color);});
            $('#examplePalette').palette({
                length: 4,
                onSelect: function() {
                paint.brushSetColor($(this).find('.coloring').attr('title'));
                }
            });
        }
    </script>

{% endblock %}

{% block title %}{{ chain }}{% endblock %}

{% block nav %}<a href="/">reDoodle</a> &rarr; <a href="{% url room room %}">{{ room }}</a> &rarr; <span>{{ chain }}</span>{% endblock %}

{% block section %}
    <h1>Добро пожаловать в цепочку {{ chain }} комнаты {{ room }}</h1>

    <br/>

    <object id="wtPlugin" type="application/x-wacomtabletplugin" WIDTH=1 HEIGHT=1 style="position:absolute; left:100px; top:100px">
    <!-- <param name="onload" value="pluginLoaded" /> -->
    </object>

    <div class="container">
        <div id="canvas_div" style="position:relative; width:800px; height:400px; float: left;">
            <canvas id="canvas" style="z-index: 2; position:absolute; left:0px; top:0px;
                                   border: 1px solid #000;"
                    onClick="handleMouseClick();" onDblclick="handleMouseDblclick();"
                    width=800 height=400>Обновите браузер</canvas>
        </div>
        <br class="clear"/>
        <input type="text" id="examplePalette" />
        <button id="button2" onclick="$().changeColor(paint.brushGetColor())">Change color</button><br/>
        <div id="picker"></div>
        <div id="buttons"></div>
        <button>Magic button</button>
        <button onclick="send_image(canvas, '{{ room }}', '{{ chain }}', '{% url save_image %}')">Send it...</button>
    </div>
{% endblock %}