{% extends "includes/baseHTML5.html" %}

{% block title %}reDoodle{% endblock %}

{% block aside %}
    <form action="{% url add_room %}" method="POST">
        {% csrf_token %}
        <div class="field">
            {{ form.room_name.errors }}
            <label for="id_room_name">Room name:</label>
            {{ form.room_name }}
        </div>
        <input type="submit" /> 
    </form>
{% endblock %}

{% block section %}
    {% for chain in chainsInDefaultRoom %}
        <article>
            <header><h2><a href="{% url editor 'default' chain.name %}">{{ chain.name }}</a></h2></header>
            <p></p>
        </article>    
    {% endfor %}
{% endblock %}