{% extends "includes/base.html" %}

{% load static %}
{% block style_and_script %}
    <script src="{% static 'js/utils.js' %}"></script>
{% endblock %}

{% block title %}{{ room }}{% endblock %}

{% block header %}
    <a href="/">
        <div class="logo">
    </a>
    </div>
    <div class="navigation">
        /
        <a href="/{{ room }}">{{ room }}</a>
    </div>
    <div class="login" id="menubutton">
        Время веселиться, Усик!
    </div>
{% endblock %}
{% block menu %}
    <!-->кони конные мои!<-->
{% endblock %}
{% block content %}
    <form action="{% url add_chain %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="room_name" id="id_room_name" value="{{ room }}"/>
        <div class="field">
            {{ form.chain_name.errors }}
            <label for="id_chain_name">Chain name:</label>
            {{ form.chain_name }}
        </div>
        <input type="submit" /> 
    </form>

    
    {% if chainInRoom %}
        {% for chain in chainInRoom %}
            <div class="chaincontainer">
                <div class="containertop" id="regulargrad">
                    <div class="chainname">
                        <a href="{% url editor 'default' chain.name %}">
                            <p class="name" onmouseover="this.style.textDecoration ='underline'; this.style.color='#0000ff';" onmouseout="this.style.textDecoration='none'; this.style.color='#FBFBFF';">{{ chain.name }}<p>
                        </a>
                    </div>
                    <div class="chainlikes" >
                        <span class="{{ chain.name }}_like_count">
                            <p class="likes">{{ chain.likes }}<p>
                        </span>
                        <div class="like_box">
                            <span class="{{ chain.name }}_like_count">{{ chain.likes }}</span>
                            <button class="like" onclick="like('{% url like_chain %}', '{{ chain.name }}', 'True')">like</button>
                            <button class="dislike" onclick="like('{% url like_chain %}', '{{ chain.name }}', 'False')">unlike</button>
                        </div>
                    </div>
                </div>
                <div class="containerbody scroll-horizontal scroll">
                    <div class="chainline">
                                    <!--Тут могли быть ваши картинки-->
                    </div>
                </div>
                <div class="chainbottom" id="changeview_1" onMouseOver>
                    Показать столбиком
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block footer %}
{% endblock %}