{% extends "includes/baseHTML5.html" %}

{% block title %}{{ room }}{% endblock %}

{% block nav %}<a href="/">reDoodle</a> &rarr; <span>{{ room }}</span>{% endblock %}

{% block section %}
    <h1>Добро пожаловать в комнату {{ room }}</h1>
    {% if chainInRoom %}
        {% for chain in chainInRoom %}
            <article>
                <header><h2><a href="{% url editor room chain.name %}">{{ chain.name }}</a></h2></header>
                <p></p>
            </article>    
        {% endfor %}
    {% endif %}
{% endblock %}