<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>